@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}

BODY {
	padding: 20px;
	background: white;
}

.info-card {
	float: left;
	margin: 10px;
	-webkit-perspective: 600px;
}

.front, .back {
	background: #FFF;
	border-radius: 10px;
	transition: -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	border: 1px solid black;
    overflow: auto;
}

.front {
	overflow: hidden;
	width: 270px;
	height: 270px;
	position: absolute;
	z-index: 1;
}

.back {
	padding: 20px;
	padding-top: 0px;
	width: 270px;
	height: 270px;
	-webkit-transform: rotateY(-180deg);
	text-align: center;
	overflow: auto;
}

.info-card:hover .back {
	-webkit-transform: rotateY(0);
}

.info-card:hover .front {
	-webkit-transform: rotateY(180deg);
}



#ex1Slider .slider-selection {
	background: #BABABA;
}

.card-image {
	position: absolute;
	right: 6px;
	bottom: 6px;
	top: 6px;
	left: 6px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #262424;
}

input:focus + .slider {
  box-shadow: 0 0 1px #262424;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}