<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smart House</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/home.png">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="js/js.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="kitchen.html">Kitchen</a></li>
                <li><a href="unassigned.html">Unassigned Devices</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <h2>Detailed device info</h2>
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-6">

                <h4>Basic device info</h4>

                <div class="form-group">
                    <label for="turnedOnBtn" class="col-sm-4 control-label">State</label>
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-success" id="turnedOnBtn"></button>
                    </div>
                </div>

                <fieldset disabled>
                    <div class="form-group">
                        <label for="devType" class="col-sm-4 control-label">Type</label>
                        <div class="col-sm-8">
                            <input type="text" id="devType" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="devName" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="devName" class="form-control" value="type">
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-md-6">
                <h4>Config state</h4>
                <div class="form-group">
                    <label for="collectFreq" class="col-sm-4 control-label">Data gathering freq</label>
                    <div class="col-sm-8">
                        <input type="text" id="collectFreq" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sendFreq" class="col-sm-4 control-label">Data sending freq</label>
                    <div class="col-sm-8">
                        <input type="text" id="sendFreq" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="updateBtn" class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-success" id="updateBtn">Update</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Line chart</h4>
        <div class="form-group">
            <label for="streamOnBtn" class="col-sm-2 control-label">Data stream</label>
            <div class="col-sm-10">
                <button type="button" class="btn btn-success" id="streamOnBtn"></button>
            </div>
        </div>
    </form>
</div>

<div id="container" style="height: 400px; min-width: 310px">
    <script>
        $(document).ready(function () {
            var urlParams = parseURLParams(window.location.href);

            $.get("/devices/" + urlParams["id"] + "/data", function (data) {
                var obj = JSON.parse(data);
                setDevDataFields(obj);
                printFridgeChart(obj);
            });

            $.get("/devices/" + urlParams["id"] + "/config", function (data) {
                var obj = JSON.parse(data);
                setDevConfigFields(obj);
            });

            document.getElementById("turnedOnBtn").onclick = function () {
                var value = this.innerHTML;

                if (value === "On") {
                    sendDevConfigTurnedOn(
                        urlParams["id"],
                        false
                    );

                    this.innerHTML = "Off";
                    this.className = "btn btn-danger";
                } else {
                    sendDevConfigTurnedOn(
                        urlParams["id"],
                        true
                    );
                    this.innerHTML = "On";
                    this.className = "btn btn-success";
                }
            };

            document.getElementById("updateBtn").onclick = function () {
                sendDevConfigFreq(
                    urlParams["id"],
                    parseInt(document.getElementById('collectFreq').value),
                    parseInt(document.getElementById('sendFreq').value)
                );
            };

            document.getElementById("streamOnBtn").onclick = function () {
                var value = this.innerHTML;

                if (value === "On") {
                    sendDevConfigStreamOn(
                        urlParams["id"],
                        false
                    );

                    this.innerHTML = "Off";
                    this.className = "btn btn-danger";
                } else {
                    sendDevConfigStreamOn(
                        urlParams["id"],
                        true
                    );
                    this.innerHTML = "On";
                    this.className = "btn btn-success";
                }
            };

        });
    </script>
</div>
</body>
</html>