<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hello</p>
<!-- форма для отправки сообщений -->
<form name="publish">
    <input type="text" name="message">
    <input type="submit" value="Отправить">
</form>

<!-- здесь будут появляться входящие сообщения -->
<div id="subscribe"></div>


<script>
    // создать подключение
    var socket = new WebSocket("ws://localhost:2540/devices/type/name/00-15-E9-2B-99-3C");
    // отправить сообщение из формы publish
    document.forms.publish.onsubmit = function() {
        var outgoingMessage = this.message.value;
        socket.send(outgoingMessage);
        return false;
    };
    // обработчик входящих сообщений
    socket.onmessage = function(event) {
        var incomingMessage = event.data;
        showMessage(incomingMessage);
    };
    // показать сообщение в div#subscribe
    function showMessage(message) {
        var messageElem = document.createElement('div');
        messageElem.appendChild(document.createTextNode(message));
        document.getElementById('subscribe').appendChild(messageElem);
    }</script>
</body>
</html>