<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smart House</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/home.png">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="kitchen.html">Kitchen</a></li>
                <li><a href="unassigned.html">Unassigned Devices</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="result"></div>
<script>
    $(document).ready(function () {
        $.get("/devices", function (data) {
            var obj = JSON.parse(data);
            var data_length = obj.length;

            $("#result").append('<div id="container" class="container">'); // Open container
            $("#container").append('<div id="row" class="row">'); // Open raw

            while (data_length > 0) {
                var info_card = "info-card" + data_length;
                var front = "front" + data_length;
                var back = "back" + data_length;

                // Front Side
                $("#row").append('<div id="' + info_card + '" class="info-card">'); // Open info-card
                $("#" + info_card).append('<div id="' + front + '"class="front">'); // Open front
                $('#' + front).append('<img class="card-image" src="img/Fridge.ico" />'); // Image Front
                $('#' + front).append('</div'); // Close front

                // Back side
                $("#" + info_card).append('<div id="' + back + '"class="back">'); // Open back

                // Device Info
                $("#" + back).append('<p> Type: ' + obj[data_length - 1]["meta"]["type"] + '</p>');
                $("#" + back).append('<p>Name: ' + obj[data_length - 1]["meta"]["name"] + '</p>');

                var device_data = obj[data_length - 1]["data"];
                var dateAndValueCam1 = device_data.TempCam1[0].split(':');

                var dateAndValueCam2 = device_data.TempCam2[0].split(':');

                $("#" + back).append('<p>' +
                    "Cam1Time: " + new Date(parseInt(dateAndValueCam1[0])).toLocaleString() + '<br>' +
                    "Cam1Temp: " + dateAndValueCam1[1] + '<br>' + '<br>' +
                    "Cam2Time: " + new Date(parseInt(dateAndValueCam2[0])).toLocaleString() + '<br>' +
                    "Cam2Temp: " + dateAndValueCam2[1] + '</p>');

                // Button get detailed data
                $("#"+back).append('<button type="button" id="dataBut' + data_length + '">' + 'Detailed data' + '</button>');
                $("#"+ "dataBut" + data_length).on('click', function () {
                    var id = this.id.replace( /^\D+/g, '');
                    window.location = "fridge.html?id=" + obj[id - 1]["meta"]["type"] + ":"
                        + obj[id - 1]["meta"]["name"] + ":" +  obj[id - 1]["meta"]["mac"];
                });

                $('#' + info_card).append('</div'); // Close
                data_length--;
            }
        });
    });

</script>
</body>
</html>
